/* 
    Master page 
*/
#bodytable
{
    background-color: #ffffff;
    font-family: Verdana, Tahoma, Arial, Sans;
    color: #222222;
    padding: 0px;
    margin: 0px;
    font-size: 11px;
    
}
.maintable 
{
    width: 970px;
    background-color: #f8f8f8;    
}
.topbar
{
    height: 15px;
}
.space1
{
    height: 80px;    
}
.menubar
{
    height: 29px;
    background-color: #66ccee;
}
.menupunkt
{
    width: 200px;
}
a:link.menu_link, a:active.menu_link, a:visited.menu_link 
{ 
    color:#666666; 
    text-decoration:none; 
    font-family: Verdana, Tahoma, Arial, Sans;
    font-size:18px; 
    line-height:20px; 
} 
a:hover.menu_link 
{ 
    color:#ff0000; 
    text-decoration:none;
    font-family: Verdana, Tahoma, Arial, Sans; 
    font-size:18px; 
    line-height:20px; 
} 
.dd_div 
{
    visibility: hidden;
    padding: 4px 0px 0px 0px;
    width: 200px;
    position: absolute;
}
.dropdown
{
    background-color: #eeeeee;
    width: 195px;    
}
.dd_menupunkt
{
    height: 25px;
    padding-left: 5px;
}
a:link.dd_menulink, a:active.dd_menulink, a:visited.dd_menulink 
{ 
    color:#666666; 
    text-decoration:none; 
    font-family: Verdana, Tahoma, Arial, Sans;
    font-size:18px; 
    line-height:20px; 
} 
a:hover.dd_menulink 
{ 
    color:#ff0000; 
    text-decoration:none; 
    font-family: Verdana, Tahoma, Arial, Sans;
    font-size:18px; 
    line-height:20px; 
}
.space2
{
    height: 20px;
}
.left
{
    width: 550px;   
}
.logintext
{
    width: 100px;
}
.loginuser
{
    width: 100px;
}
.loginpass
{
    width: 100px;
}
.loginbutton
{
    width: 80px;
}
.right
{
    width: 40px;
}
.bottombar
{
    height: 30px;
}
/*
    Faelles CSS
*/
.button
{
    background-color: #66ccee;
    height: 26px;
    border: 2px solid #eeeeee;
    color: #eeeeee;
    font-family: Verdana, Tahoma, Arial, Sans;
    font-size: 12px;
    font-weight: bold;
}
.button:hover
{
    border: 2px solid #dd7755;
    color: #dd7755;
}
/* 
    Forside 
*/
.overskrift_container
{
    background-color: #66ccee;
    padding: 5px;
}
.overskrift_container_button
{
    background-color: #66ccee;
    padding: 5px;
}
.overskrift
{
    font-family: Verdana, Tahoma, Arial, Sans;
    color: #222222;
    font-size: 14px;
}
.broedtekst_container
{
    background-color: #eeeeee;
    padding: 5px 5px 5px 5px;
}
.broedtekst
{
    font-family: Verdana, Tahoma, Arial, Sans;
    color: #222222;
    font-size: 14px;
}
.editing_box_head
{
    background-color: #66ccee;
    border: 2px solid #eeeeee;
    color: #222222;
    font-size: 14px;
    padding: 5px 3px 5px 3px;
    height: 13px;
}
.editing_box
{
    background-color: #eeeeee;
    border: 2px solid #66ccee;
    color: #222222;
    font-size: 14px;
    padding: 5px 5px 5px 5px;
}
/*
    Tekstside (Se Forside)
*/
.format_button
{
    vertical-align: middle;
} 